/* .projectcontainer{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    margin: 200px 0;
    align-items: center;
   
}
.projectcontainer > h1{
    margin-top: 100px;
    padding-bottom: 15px;
}
.projectcontainer > p{
    padding-bottom: 50px;
}
.projectcontainer_projects{
    display: flex;
    width: 60vw;
    flex-wrap: wrap;
} */

.projectcontainer {
    display: flex;
    
    flex-direction: column;
    color: white;
    justify-content: center;
    margin: 100px 0; 
    align-items: center;
  }
  
  .projectcontainer > h1 {
    margin-top: 50px; 
    padding-bottom: 15px;
    padding-top: 20px;
  }
  
  .projectcontainer > p {
    padding-bottom: 30px; 
  }
  
  .projectcontainer {
    /* Add this CSS to center the .projectcontainer_projects division */
    display: flex;
    justify-content: center; /* Center horizontally */
  }
  
  .projectcontainer_projects {
    display: flex;
    width: 100%;
    max-width: 900px;
    flex-wrap: wrap;
  }
  
  @media (max-width: 768px) {
    .projectcontainer {
      margin: 50px 0; 
    }
    
    .projectcontainer > h1 {
      margin-top: 30px; 
    }
    
    .projectcontainer > p {
      padding-bottom: 20px; 
    }
  }
  