a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('./images/back9.gif'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif; 
  color: #ffffff; 
}


@media screen and (max-width: 768px) {
  body {
    font-size: 14px; 
  }
}

@media screen and (max-width: 480px) {
  /* Adjustments for even smaller screens */
  body {
    font-size: 12px; /* Example: Further decrease font size */
  }
}
